---
import Layout from "../layouts/Layout.astro"
---
<Layout title="sobre nosotros">
    <div class='flex gap-10 md:p-40 items-center flex-col md:flex-row md:max-w-[1200px] '>
        <img src='/aboutpicture.webp' class='w-[500px] h-[800px] rounded-lg' alt='imagen sobre nosotros 1' />
        <div class='flex items-center flex-col gap-7'>
    
          <p class='text-xl p-4'>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis, esse! Repudiandae quibusdam quisquam provident! Odio, debitis, praesentium laudantium modi maiores perspiciatis aliquid, laboriosam harum ipsa odit sapiente laborum asperiores magni?
            Aliquam eligendi repudiandae, numquam reiciendis exercitationem consectetur molestias, magnam obcaecati iste tempore adipisci? Incidunt voluptates porro quisquam voluptatum maiores vitae! Quod ab necessitatibus sapiente, molestiae aperiam maxime praesentium porro minus?
            Aliquam molestiae beatae ex! Perferendis nostrum nihil tenetur aperiam voluptatem enim quam ad saepe iure neque vero deserunt nulla cumque harum voluptatum dicta, quia impedit tempore. Quasi id ipsam ex!
            Nam mollitia possimus blanditiis eligendi labore? Incidunt ipsum error facere iusto quam quaerat voluptatibus enim sit dolorem, recusandae placeat temporibus esse doloribus cum quos ullam nam perspiciatis laudantium. Ducimus, corporis.
    
          </p>
          <img src='/aboutpicture2.webp' alt='imagen de nosotros 2' class='w-[300px] m-5' />
        </div>
    
      </div>
</Layout>