---
import GitHub from "./icons/GitHub.astro";
import Instagram from "./icons/Instagram.astro";

---

<footer class='p-10  flex flex-col md:h-[140px] mt-10 items-center shadow-lg gap-2  w-full'>
    <p class='md:w-[550px] text-center dark:text-gray-400'>Made by <span class="dark:text-white text-gray-500">Monsster</span></p>
    <div class="flex gap-2 items-center justify-center">
       <a 
       class="hover:scale-110"
       href="https://github.com/Yisuselpulento" target="_blank" rel="noreferrer noopener"
       >
        <GitHub class="size-7" /> 
       </a>
        <a
        class="hover:scale-110"
        href="https://www.instagram.com/_.monsster._/" target="_blank" rel="noreferrer noopener"
        >
        <Instagram class="size-8"/>
      </a>
     
  
  </div>

  </footer>